* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* common   */
body {
  font-family: 'Roboto', sans-serif;
}
main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.corners {
  border-radius: 10px;
}
/* common   */

/* header  */
header {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header .logo {
  width: 185px;
  height: 50px;
}

nav {
  height: ;
  margin: 15px 0;
}

header .logo img {
  height: 100%;
}

ul li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8a8a8a;
}

/* sezione con sidebar   */
.container-main {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.container-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 30, 30, 0.294);
}

.banner-text {
  position: absolute;
  left: 20px;
  bottom: 40px;
  width: 50%;
  color: white;
}

.section-bar {
  width: 100%;
  color: #8a8a8a;
  /* background-color: #0885ef; */
}

/* title section top  */
.top {
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

.top > h1 {
  font-weight: bolder;
  color: black;
}

.clearfix {
  content: ' ';
  display: table;
  clear: both;
}
/* sidebar left  */
.side-left {
  float: left;
  width: 20%;
  padding: 5px;
  background-color: #abcfe7;
}

/* sidebar center  */
.side-center {
  display: inline-block;
  float: left;
  width: calc(100% - 40% - 40px);
  padding: 5px;
  background-color: #abcfe7;
  margin: 0 20px;
}

.side-right {
  float: right;
  width: 20%;
  padding: 5px;
  background-color: #abcfe7;
}

/* footer  */
footer {
  width: 100%;
  height: 50px;
  background-color: #8801fe;
  margin-top: 10px;
}
